.posts {
    padding: 30px;
    border: 1px solid;
    border-radius: 15px;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    background: white;
    position: relative;
    cursor: pointer;
    z-index: 10;
  
    &__user_name {
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 15px;
    }
  
    &__container {
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      padding-top: 20px;
    }
}

.button {
    margin-top: 20px;
}